<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新增用户</title>
  </head>
  <body>
    <form action="/doAddUser" method="post">
      <p>
        <label for="userName">用户名:</label>
        <input id="userName" name="userName" value="" />
      </p>
      <p>
        <label for="age">年龄:</label>
        <input id="age" name="age" value="" type="number" />
      </p>
      <p><input type="submit" value="提交" /></p>
    </form>
  </body>
</html>
