<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% include "./template/header.html" %} {% if (loginStatus) %}
    <div class="home">
      <img src="images/login.gif" alt="未登录" />
      <div>您已经登录....</div>
    </div>
    {% else %}
    <div class="home-no">
      <img src="images/timg.gif" alt="未登录" />
      <a href="/login" rel="noopener noreferrer">汪汪....您还未登陆，去登录</a>
    </div>
    {% endif %}
  </body>
</html>
