<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% include "./template/header.html" %}
    <div class="login">
      <h1>登录页</h1>
      {% if (loginStatus) %}您已经登录过了,<a href="/" rel="noopener noreferrer"
        >去首页看看</a
      >
      {% else %}
      <form action="/doLogin" method="post">
        <p>
          <label for="name">账户名:</label>
          <input id="name" name="name" value="twoyoung" />
        </p>
        <p>
          <label for="password">密码:</label>
          <input id="password" name="password" value="" type="password" />
        </p>
        <p><input type="submit" value="登录" /></p>
      </form>
      {% endif %}
    </div>
  </body>
</html>
