html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  background: #c8c1a1;
  min-height: calc(100vh - 100px);
  box-sizing: border-box;
  color: whitesmoke;
  letter-spacing: 2px;
}
.home img {
  width: 75%;
}
.home-no {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  min-height: calc(100vh - 100px);
  box-sizing: border-box;
  color: whitesmoke;
  letter-spacing: 1px;
  font-weight: 600;
}
.home-no a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  /* text-decoration: none;; */
  color: #333;
  -webkit-tap-highlight-color: transparent;
}
img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.title {
  font-size: 1rem;
  color: deeppink;
  text-align: center;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100px;
  font-weight: 600;
  letter-spacing: 2px;
  background: url('../images/timg.jfif') no-repeat center center;
  background-size: cover;
}
ul {
  list-style: none;
}
li {
  font-size: 24px;
}
.welcome {
  height: 100vh;
  background: url('../images/welcome.gif') no-repeat center center;
  background-size: contain;
}
